.calendar-page {
  padding: 16px;
  background-color: #fff;
  min-height: 100%;

  :global {
    .nut-calendar {
      --nutui-calendar-base-font-size: 14px;
      --nutui-calendar-day-width: 40px;
      --nutui-calendar-day-height: 40px;
    }
  }
}
